* {
    margin: 0.2rem;
}
.responsive {
    width: 100%;
    height: auto; 
}

img {
    width: 400px;
    height: 350px;
    padding-bottom: 1em;
}

.head-image-container {
    text-align: center;
    padding-bottom: 2em;
}

.card1 {
    background-color: white;
    border-top: 2px solid black;
    padding-top: 1.5em;
    padding-bottom: 2em;
    text-align: center;

}

.card2 {
    background-color: white;
    border-top: 2px solid black;
    padding-bottom: 2em;
    padding-top: 1em;
    text-align: center;
}

.card3 {
    background-color: white;
    border-top: 2px solid black;
    padding-top: 1em;
    text-align: center;
    padding-bottom: 2em;
    
} 
.person1 .person2 .person3 {
    width: 500px;

}
   /* line-height: 1.0;*/
