* {
    margin: 0.8rem;
}

.responsive {
    width: 100%;
    height: auto;
}

.head-image-container {
    text-align: center;
}
 
.card-folder {
    display: flex;
    flex-direction: column;
    border: 2em 2em;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
